@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* ======== Estilos Globais ======== */
body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: large;
    background-image: url("img/fundo.png");
    background-size: 100%;
}

/* ======== Cabeçalho ======== */
header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 15%;
}

header div {
    text-align: center;
}

/* ======== Títulos ======== */
h1 {
    font-family: "Great Vibes", cursive;
    color: #9e830a;
    font-size: 13vw;
    margin: 15px;
}

h2 {
    font-family: "Courgette", cursive;
    margin-top: 0;
    color: #0a6e0a;
}

/* ======== Estrutura Principal ======== */
main {
    padding: 0 15%;
}

.container {
    margin: auto;
    max-width: 800px;
}

/* ======== Cartões ======== */
.cartao {
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 40px;
}

.cartao:nth-child(odd) {
    border: 3px dotted #7c1212;
}

.cartao:nth-child(even) {
    border: 3px dotted #0a6e0a;
}

.cartao:nth-child(odd) h2 {
    color: #0a6e0a;
}

.cartao:nth-child(even) h2 {
    color: #7c1212;
}

/* ======== Links ======== */
a {
    font-family: "Courgette", cursive;
    text-decoration: none;
    color: white;
    text-align: center;
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
}

a:hover{
    scale: 1.05;
    transition: 0.3s;
    opacity: 0.75;
}
.cartao:nth-child(odd) a {
    background-color: #0a6e0a;
}

.cartao:nth-child(even) a {
    background-color: #7c1212;
}

hr{
    border: 1px solid #9e830a;
}
.creditos{
    text-align: center;
}

header p{
    font-size: x-large;
}

/* ======== Imagem e Informações ======== */
.cartao img {
    background-color: aqua;
    width: calc(40% - 15px);
    margin-right: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
}

.titulo{
    max-width: 800px;
    width: 100%;
}
.info {
    width: calc(60% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ======== Responsividade ======== */
@media screen and (max-width: 700px) {
    .cartao {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .cartao img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .info {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: xx-large;
    }
}
